<h3 md-dialog-title style="text-align: center">Selecione o curso</h3>
<md-dialog-content>
  <p>
    <strong>Nome:</strong> {{info?.name}}
    <br>
    <strong>CPF:</strong> {{info?.cpf_number}}
    <strong>DR:</strong> {{regional}}
    <br>
  </p>
  <form>
    <md-select #course placeholder="Selecione o curso" (change)="courseChanged($event.value)" name="course">
      <md-option *ngFor="let course of courses" [value]="course.course_id">
        {{course.start_month}}/{{course.start_year}} - {{course.course_name}}
      </md-option>
    </md-select>

  </form>
</md-dialog-content>
<md-dialog-actions>
  <button [disabled]="course.selected==null" md-raised-button (click)="courseSelected()" color="primary">SELECIONAR</button>
  <button style="margin-left:5px;" md-raised-button md-dialog-close color="warn">CANCELAR</button>
</md-dialog-actions>
