<md-card>
  <md-card-title>MINHA CONTA</md-card-title>
</md-card>


<form [formGroup]="userForm" #form>
  <md-card>
    <div>
      <md-icon>account_box</md-icon>
      <md-input-container>
        <input type="text" mdInput placeholder="Name"
        formControlName="name">
      </md-input-container>
    </div>
  </md-card>
  
  <md-card>
    <div class="float-left">      
      <md-icon>email</md-icon>
      <md-input-container>
        <input type="text" mdInput placeholder="E-mail"
        formControlName="email">
      </md-input-container>
    </div>

    <div class="float-right">
      <md-icon>phone</md-icon>
      <md-input-container>
        <input type="text" mdInput placeholder="Telefone para contato"
        formControlName="phone">
      </md-input-container>
    </div>

    <div class="clear-both"></div>
  </md-card>

  <md-card>
    <div>
      <md-icon>account_circle</md-icon>
      <md-input-container>
        <input type="text" mdInput placeholder="Usuário"
        formControlName="username">
      </md-input-container>
    </div>
  </md-card>
</form>

<md-card>
  <md-card-actions>
    <button md-raised-button color="primary" type="submit"
            [disabled]="!canSave" [class.button-disabled]="!form.valid">
            SALVAR <md-icon>send</md-icon>
    </button>
    <button md-raised-button color="warn" routerLink="../" type="button">CANCELAR <md-icon>close</md-icon>
    </button>
  </md-card-actions>
</md-card>