<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Buscar em todos os campos"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
          <td *ngIf="view || edit || delete" >
  <div>
    <button
            type="button"
            class="btn btn-xs btn-default"
            (click)="viewClick(row)">
            <i class="fa fa-eye"></i> View
     </button>

     <button *ngIf="edit"
             type="button"
             class="btn btn-xs btn-default"
             (click)="editClick(row)">
             <i class="fa fa-edit"></i> Edit
      </button>

      <button *ngIf="delete"
            type="button"
            class="btn btn-xs btn-default"
            (click)="deleteClick(row)">
            <i class="fa fa-trash-o"></i> Delete
      </button>
  </div>
</td>
</ng-table>
<md-toolbar color="transparent" class="toolbar-bottom">
<pagination nextText="Próxima" previousText="Anterior" firstText="Primeira" lastText="Última" *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
  </pagination>
  <span class="pagination-info">Página: {{page}} de {{numPages}}</span>
</md-toolbar>
