<md-card class="menu-card">
  <md-card-header>
    <md-card-title>{{ user?.name }}</md-card-title>
    <md-card-subtitle>Administrador <span class="tagInfo tagRegional">DN</span></md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-icon-button mdTooltip="Página inicial"><md-icon>home</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="menuconfig" mdTooltip="Minhas Configurações"><md-icon>settings</md-icon></button>
    <md-menu #menuconfig="mdMenu">
      <button md-menu-item>
        <md-icon>person</md-icon>
        <span>Minha Conta</span>
      </button>
      <button md-menu-item>
        <md-icon>build</md-icon>
        <span>Sistema</span>
      </button>
    </md-menu>
    <button md-icon-button mdTooltip="Ajuda"><md-icon>help_outline</md-icon></button>
    <button md-icon-button mdTooltip="Sair do Sistema" (click)="logout()"><md-icon>exit_to_app</md-icon></button>

  </md-card-actions>
</md-card>

<md-nav-list>
  <md-list-item *ngFor="let link of menu" routerLinkActive="sidenav--active"
      [routerLink]="link.link">
    <a md-line>
      <md-icon>{{link.icon}}</md-icon>
      {{ link.text }}
    </a>
  </md-list-item>
</md-nav-list>
