<md-card class="menu-card">
  <md-card-header>
    <md-card-title>Leonardo Victor</md-card-title>
    <md-card-subtitle>Administrador <span class="tagInfo tagRegional">DR / AL</span></md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-icon-button mdTooltip="Página inicial"><md-icon>home</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="menuconfig" mdTooltip="Minhas Configurações"><md-icon>settings</md-icon></button>
    <md-menu #menuconfig="mdMenu">
      <button md-menu-item>
        <md-icon>person</md-icon>
        <span>Minha Conta</span>
      </button>
      <button md-menu-item>
        <md-icon>build</md-icon>
        <span>Sistema</span>
      </button>
    </md-menu>
    <button md-icon-button mdTooltip="Ajuda"><md-icon>help_outline</md-icon></button>
    <button md-icon-button mdTooltip="Sair do Sistema"><md-icon>exit_to_app</md-icon></button>

  </md-card-actions>
</md-card>
<md-list>
  <a routerLinkActive="sidenav--active" routerLink="students">
    <md-list-item>
      <md-icon md-list-avatar>filter_1</md-icon>
      <h5 md-line>Avaliação do Concluinte</h5>
    </md-list-item>
  </a>
  <md-divider></md-divider>
  <a routerLinkActive="sidenav--active" routerLink="egressos">
    <md-list-item>
      <md-icon md-list-avatar>filter_2</md-icon>
      <h4 md-line>Avaliação do Egresso</h4>
    </md-list-item>
  </a>
  <md-divider></md-divider>
  <a routerLinkActive="sidenav--active" routerLink="teste">
    <md-list-item>
      <md-icon md-list-avatar>filter_3</md-icon>
      <h4 md-line>Avaliação da Empresa</h4>
    </md-list-item>
  </a>
</md-list>

