md-card.menu-card{
  color:white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent),
  url("/assets/images/logo2-min.png") no-repeat center center;
  padding-left: 20px;
  padding-top: 69px;
  background-size: cover;
  box-shadow: none;
}
md-card.menu-card md-card-header{
  margin-bottom: 0;
}
md-card.menu-card md-card-subtitle{
  color: white;
}
md-card.menu-card md-card-title{
  font-weight: bolder;
}
md-card.menu-card md-card-actions{
  padding-left: 5px;
}

.tagInfo{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  background-color: #1b5e20;
  color: #f9f9f9;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.tagRegional{
  background-color: #fff;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


/*menu*/
md-nav-list a{
  color:white;
}

md-list-item{
  border-right:2px solid transparent;
}
md-list-item:hover,
md-nav-list md-list-item.sidenav--active{
  background:#f9f9f9;
  border-right-color:#1b5e20;
}
md-nav-list md-list-item.sidenav--active a,
md-list-item:hover a{
  color: #1b5e20;
}
md-nav-list md-icon{
  vertical-align: middle;
  margin-right: 15px;
}

.md-list-text h4{
  font-size:  14px;
}
