<div class="loginContent">
  <md-card class="boxLogin">
      <md-toolbar class="md-toolbar">    
        <h2><img src="./assets/images/logo_senai.png" alt="SENAI" title="SENAI" /></h2>
        <h1>Acesso ao Sistema</h1>   
        <span class="toolbar-spacer"></span>        
        <button md-icon-button mdTooltip="Ajuda"><md-icon class="md-toolbar">help</md-icon></button> 
      </md-toolbar>
      <div class="boxForm">
        <md-icon>perm_identity</md-icon>
        <md-icon>lock_outline</md-icon>
      </div>  
  </md-card>
</div>