h1 {
    font-size: 14px;
    font-weight: bold;
    color: #0068b3;
    width: 100%;
    text-align: center;
}
.loginContent {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/bg-login.png");
    background-size: cover;
}
.boxLogin {
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: rgba(255,255,255,0.5);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.md-card {
    width: 100%;
    height: 100%;    
}
.md-toolbar {
    background-color: rgba(255,255,255,0.34);
}
.toolbar-spacer {
  flex: 1 1 auto;
}
button {
    background-color: rgba(255,255,255,0.34);
    color: #0068b3;
}
.buttonLogin {
    background-color: #0068b3;
    color: #fff;
    margin-top: 20px;
    width: 100px;
}
.buttonPasswd {
    background-color: #656a77;
    color: #fff;
    margin-top: 20px;
    width: 200px;
}
.boxForm {
    margin: 20px 20px 0 20px;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    line-height: 45px;
}
md-input-container {
    width: 70%;
}
