<form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()" >
<md-tab-group [selectedIndex]="formPagination.index" (selectChange)="changedTabIndex($event)">
  <md-tab label="ALUNO" formGroupName="aluno">

    <template color="transparent"  md-tab-label>
      <md-icon *ngIf="steps[0].valid">thumb_up</md-icon>
      <md-icon *ngIf="!steps[0].valid">thumb_down</md-icon>
      Aluno
    </template>

    <md-grid-list cols="4" rowHeight="110px">
      <md-grid-tile [colspan]="2">
        <md-icon>credit_card</md-icon>
        <md-input-container align="start" class="full-width">
          <input md-input #cpf formControlName="cpf_number" placeholder="Informe o CPF *"
              [textMask]="{mask: mask.cpf}">
          <md-hint class="valid-msg" align="start" *ngIf="steps[0].controls['cpf_number'].touched || triedSend" >
              <input-error [errors]="steps[0].controls['cpf_number'].errors" title="CPF"></input-error>
          </md-hint>
          <md-hint align="end">{{getNumber(cpf.value).length}} / 11</md-hint>
        </md-input-container>
      </md-grid-tile>
      <md-grid-tile [colspan]="2"></md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>account_box</md-icon>
        <md-input-container class="full-width">
          <input #name md-input
                (input)="teste(steps[0].controls['name'].errors)" formControlName="name"
                placeholder="1.1 - Nome do aluno *">
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[0].controls['name'].touched || triedSend">
              <input-error [errors]="steps[0].controls['name'].errors" title="Nome do aluno"></input-error>
          </md-hint>
          <md-hint align="end">{{name.value.length}} / 100</md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile class="input-space" [colspan]="2">
        <md-icon>wc</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-radio-group formControlName="gender">
            1.2 - Selecione o sexo *<br>
            <md-radio-button *ngFor="let gender of bdInfo.genders" class="radio-before"
                              [value]="gender.id">{{gender.value}}</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="steps[0].controls['gender'].touched || triedSend">
            <input-error [errors]="steps[0].controls['gender'].errors" title="Sexo"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>date_range</md-icon>
        <md-input-container style="width:100%">
          <input md-input #birth class="full-width"
           [textMask]="{mask: mask.date, pipe: autoCorrectedDatePipe}"
           placeholder="1.3 - Data de nascimento *" formControlName="birth_date" (blur)="'OI'">
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[0].controls['birth_date'].touched || triedSend">
              <input-error [errors]="steps[0].controls['birth_date'].errors" title="Data de nascimento"></input-error>
          </md-hint>
          <md-hint align="end">{{getNumber(birth.value).length}} / 8</md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2" class="input-space">
        <md-icon>fingerprint</md-icon>
        <md-input-container class="full-width">
          <input md-input formControlName="rg_number" placeholder="1.4 - Informe o RG *">
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[0].controls['rg_number'].touched || triedSend">
              <input-error [errors]="steps[0].controls['rg_number'].errors" title="RG"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>school</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          1.5 - Estudou/estuda em que tipo de escola? *<br>
          <md-radio-group formControlName="origin_id">
            <md-radio-button *ngFor="let origin of bdInfo.origins" class="radio-before" [value]="origin.id">{{origin.value}}</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="steps[0].controls['origin_id'].touched || triedSend">
            <input-error [errors]="steps[0].controls['origin_id'].errors" title="Origem"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2" class="input-space">
        <md-icon>face</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="ethnicity_id" placeholder="1.6 - Cor / Etnia *">
            <md-option *ngFor="let ethnicity of bdInfo.ethnicities" [value]="ethnicity.id">{{ethnicity.value}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[0].controls['ethnicity_id'].touched || triedSend">
              <input-error [errors]="steps[0].controls['ethnicity_id'].errors" title="Cor/Etnia"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile class="disability-cell" [colspan]="4">
        <md-icon>accessible</md-icon>
        <md-input-container align="left" class="fakeHint disability">
          <input style="display:none" md-input>
          <md-radio-group required formControlName="disability" [value]="disabilityFlag"
           (change)="disabilityFlag = $event.value==1;">
            1.7 - Possui alguma deficiência (PcD)? *<br>
            <md-radio-button class="radio-before" [value]="1">Sim</md-radio-button>
            <md-radio-button class="radio-before" [value]="0">Não</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="triedSend">
            <input-error [errors]="steps[0].controls['disability'].errors" title="Deficiência"></input-error>
          </md-hint>
        </md-input-container>

        <md-input-container [class.hidden]="!disabilityFlag" align="left" class="fakeHint disability disabilitySelect">
          <input style="display:none" md-input>
          <md-select class="full-width" placeholder="1.8 - Qual deficiência?"
                    formControlName="disability_id"
                    [required]="disabilityFlag"
                    [disabled]="!disabilityFlag">
            <md-option *ngFor="let disability of bdInfo.disabilities"
                        [value]="disability.id">{{disability.value}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
            *ngIf="triedSend">
            <input-error [errors]="steps[0].controls['disability_id'].errors" title="Deficiência"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

    </md-grid-list>
  </md-tab>

  <md-tab formGroupName="turma">
    <template color="transparent"  md-tab-label>
      <md-icon *ngIf="steps[1].valid">thumb_up</md-icon>
      <md-icon *ngIf="!steps[1].valid">thumb_down</md-icon>
      Turma
    </template>
     <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile [colspan]="1">
        <md-icon>date_range</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="start_year" placeholder="2.1 - Ano de início do curso *">
            <md-option *ngFor="let year of bdInfo.years" [value]="year">{{year}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[1].controls['start_year'].touched || triedSend">
              <input-error [errors]="steps[0].controls['disability_id'].errors" title="Ano de início do curso"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>date_range</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="start_month" placeholder="2.2 - Mês de início do curso *">
            <md-option *ngFor="let month of bdInfo.months" [value]="month.id">{{month.valueView}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[1].controls['start_month'].touched || triedSend">
              <input-error [errors]="steps[0].controls['disability_id'].errors" title="Mês de início do curso"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>date_range</md-icon>
        <md-input-container class="full-width">
          <input md-input disabled value="2017" placeholder="2.3 - Ano de término do curso">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>date_range</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="end_month" placeholder="2.4 - Mês de término do curso *">
            <md-option *ngFor="let month of bdInfo.months" [value]="month.id">{{month.valueView}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[1].controls['end_month'].touched || triedSend">
              <input-error [errors]="steps[0].controls['disability_id'].errors" title="Mês de término do curso"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1">
        <md-icon>class</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select formControlName="course_id" class="full-width" placeholder="2.5 - Selecione o curso *">
            <md-option *ngFor="let course of bdInfo.courses" [value]="course.id">{{course.description}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[1].controls['course_id'].touched || triedSend">
              <input-error [errors]="steps[1].controls['course_id'].errors" title="Curso"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>location_on</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="regional" placeholder="2.6 - Selecione o DR *">
            <md-option *ngFor="let regional of bdInfo.regional" [value]="regional.sigla">{{regional.sigla}} - {{regional.description}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="steps[1].controls['regional'].touched || triedSend">
              <input-error [errors]="steps[1].controls['regional'].errors" title="DR"></input-error>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>business</md-icon>
        <md-select class="full-width" placeholder="2.7 - Unidade SENAI">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>list</md-icon>
         <md-select class="full-width" placeholder="2.8 - Modalide">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <md-icon>language</md-icon>
         <md-select class="full-width" placeholder="2.8 - Área tecnológica">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>work</md-icon>
         <md-select class="full-width" placeholder="2.9 - Ocupação">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>people_outline</md-icon>
         <md-select class="full-width" placeholder="2.10 - Código da turma">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>school</md-icon>
         <md-select class="full-width" placeholder="2.11 - Educação à distância - EAD?">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1">
        <md-icon>monetization_on</md-icon>
         <md-select class="full-width" placeholder="2.12 - Gratuidade regimental?">
          <md-option *ngFor="let banco of bdInfo.bancos">{{banco}}</md-option>
        </md-select>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>location_city</md-icon>2.13 - Convênio?<br>
        <md-radio-group class="full-width">
          <md-radio-button class="radio-before" value="1">Sim</md-radio-button>
          <md-radio-button class="radio-after" value="2">Não</md-radio-button>
        </md-radio-group>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>location_city</md-icon>
        <md-input-container class="full-width">
          <input disabled md-input placeholder="2.14 - Qual convênio?">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1" class="input-space">
        <md-icon>school</md-icon>
        <md-radio-group class="full-width">
          2.15 - Pronatec?<br>
          <md-radio-button class="radio-before" value="1">Sim</md-radio-button>
          <md-radio-button class="radio-after" value="2">Não</md-radio-button>
        </md-radio-group>
      </md-grid-tile>

      <md-grid-tile [colspan]="1">
        <md-icon>school</md-icon>
         <md-select disabled class="full-width" placeholder="2.16 - Qual Pronatec?">
          <md-option *ngFor="let colour of colours">{{colour}}</md-option>
        </md-select>
      </md-grid-tile>

    </md-grid-list>
  </md-tab>
  <md-tab>
    <template color="transparent" md-tab-label>
      <md-icon *ngIf="steps[2].valid">thumb_up</md-icon>
      <md-icon *ngIf="!steps[2].valid">thumb_down</md-icon>
      CONTATO
    </template>
    <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile [colspan]="3"><i class="material-icons">home</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.1 - Endereço">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">filter_3</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.2 - Número">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">compare_arrows</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.3 - Complemento">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">location_on</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.4 - Bairro">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">location_on</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.5 - Cidade">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">location_on</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.6 - UF">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">local_post_office</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.7 - CEP">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">phone</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.8 - Telefone residencial">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">smartphone</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.9 - Telefone celular">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="1"><i class="material-icons">phone</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.10 - Telefone recado">
        </md-input-container>
      </md-grid-tile>
      <md-grid-tile [colspan]="1"><i class="material-icons">email</i>
        <md-input-container class="full-width">
          <input md-input placeholder="3.11 - Tele1.7 - Possui alguma deficiência (PcD)?fone recado">
        </md-input-container>
      </md-grid-tile>


    </md-grid-list>
  </md-tab>

  <md-tab>
    <template color="transparent"  md-tab-label>
      <md-icon *ngIf="steps[3].valid">thumb_up</md-icon>
      <md-icon *ngIf="!steps[3].valid">thumb_down</md-icon>
      SITUAÇÃO PROFISSIONAL
    </template>
    <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile [colspan]="2">
          <md-radio-group class="full-width input-space">
            <i class="material-icons">check_box</i>4.1 - Atualmente você esta trabalhando/estagiando de forma remunerada?<br>
            <md-radio-button value="1">Sim</md-radio-button>
            <md-radio-button value="2">Não</md-radio-button>
          </md-radio-group>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="2" rowHeight="360px">
      <md-grid-tile [colspan]="1">
        <md-radio-group class="example-section"><i class="material-icons">check_box</i>4.2 - Especifique abaixo sua situação profissional:<br>
          <div *ngFor="let estagio of estagios"><md-radio-button value="{{estagio}}">{{estagio}}</md-radio-button><br></div>
        </md-radio-group>
      </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <md-radio-group class="example-section"><i class="material-icons">check_box</i>4.3 - Especifique abaixo sua situação profissional:<br>
          <md-radio-button value="1">Menos de 1 SM</md-radio-button><br>
          <md-radio-button value="2">1 SM</md-radio-button><br>
          <md-radio-button value="3">Mais 1 a 2 SM</md-radio-button><br>
          <md-radio-button value="4">Mais 2 a 3 SM</md-radio-button><br>
          <md-radio-button value="5">Mais 3 a 5 SM</md-radio-button><br>
          <md-radio-button value="6">Mais 5 a 7 SM</md-radio-button><br>
          <md-radio-button value="7">Mais 7 a 10 SM</md-radio-button><br>
          <md-radio-button value="8">Mais 10 a 15 SM</md-radio-button><br>
          <md-radio-button value="9">Mais 5 a 20 SM</md-radio-button><br>
          <md-radio-button value="10">Mais de 20 SM</md-radio-button><br>
        </md-radio-group>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab>
    <template color="transparent"  md-tab-label>
      <md-icon *ngIf="steps[4].valid">thumb_up</md-icon>
      <md-icon *ngIf="!steps[4].valid">thumb_down</md-icon>
      AVAL. DO SENAI
    </template>
    <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile [colspan]="2">
          <md-radio-group class="example-section"><i class="material-icons">check_box</i>5.1 - Qual é o seu nível de satisfação como aluno/ex-aluno do SENAI? Dê uma nota de 0 a 10 onde (0: muito insatisfeito; 10: muito satisfeito)<br>
            <md-radio-button class="radio-before" value="0">0</md-radio-button>
            <md-radio-button class="radio-before" value="1">1</md-radio-button>
            <md-radio-button class="radio-before" value="2">2</md-radio-button>
            <md-radio-button class="radio-before" value="3">3</md-radio-button>
            <md-radio-button class="radio-before" value="4">4</md-radio-button>
            <md-radio-button class="radio-before" value="5">5</md-radio-button>
            <md-radio-button class="radio-before" value="6">6</md-radio-button>
            <md-radio-button class="radio-before" value="7">7</md-radio-button>
            <md-radio-button class="radio-before" value="8">8</md-radio-button>
            <md-radio-button class="radio-before" value="9">9</md-radio-button>
            <md-radio-button class="radio-before" value="10">10</md-radio-button>
          </md-radio-group>
        </md-grid-tile>
    </md-grid-list>
  </md-tab>
</md-tab-group>

<md-toolbar class="formActions" color="transparent">
    <button md-raised-button type="submit"
            [disabled]="!canSave" [class.md-button--disabled]="!form.valid"
            [class.md-button--valid]="form.valid">Salvar <md-icon>send</md-icon>
    </button>
    <button md-raised-button class="md-button--cancel" routerLink="../" type="button">Cancelar <md-icon>close</md-icon>
    </button>
    <button md-raised-button type="reset">Limpar <md-icon>restore</md-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <button (click)="changedTabIndex({index: this.formPagination.index-1})" type="button" *ngIf="formPagination.index!=0" style="background:#ced8df;color:white;" md-mini-fab routerLink="."><md-icon>navigate_before</md-icon></button>
    <button (click)="changedTabIndex({index: this.formPagination.index+1})" type="button"*ngIf="formPagination.index!=formPagination.maxIndex" style="background:#ced8df;color:white;" md-mini-fab routerLink="."><md-icon>navigate_next</md-icon></button>
</md-toolbar>
</form>
