form{
  font-size: 14px;
  color: gray;
}

.full-width {
  width: 100%;
}

.input-space md-icon{
  padding-left:20px;
}
.material-icons {
  padding-right: 10px;
}

.radio-before {
  padding-right: 15px;
  padding-top: 10px;
}

.formActions button{
  margin-right: 5px;
}

.disabilitySelect{
  padding-left: 20px;
}

.hidden{
  visibility: hidden;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
