<form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()" >
<md-tab-group (selectChange)="bugFixPlaceholder($event)">
  <md-tab label="ALUNO" formGroupName="aluno">
    <md-grid-list cols="4" rowHeight="110px">

      <md-grid-tile [colspan]="2">
        <md-icon>credit_card</md-icon>
        <md-input-container align="start" class="full-width">
          <input md-input #cpf formControlName="cpf_number" placeholder="Informe o CPF *"
              [textMask]="{mask: mask.cpf}">
          <md-hint class="valid-msg" align="start"
              *ngIf="!steps[0].controls['cpf_number'].valid  && (steps[0].controls['cpf_number'].touched || triedSend)">
              <span *ngIf="steps[0].controls['cpf_number'].hasError('required')">Esse campo é obrigatorio</span>
              <span *ngIf="steps[0].controls['cpf_number'].hasError('validateCpf')">CPF em formato incorreto</span>
          </md-hint>
          <md-hint align="end">{{getNumber(cpf.value).length}} / 11</md-hint>
        </md-input-container>
      </md-grid-tile>
      <md-grid-tile [colspan]="2"></md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>account_box</md-icon>
        <md-input-container class="full-width">
          <input #name md-input
                (input)="teste(steps[0].controls['name'].errors)" formControlName="name"
                placeholder="1.1 - Nome do aluno *">
          <md-hint class="valid-msg" align="start"
              *ngIf="!steps[0].controls['name'].valid  && (steps[0].controls['name'].touched || triedSend)">
              <span *ngIf="steps[0].controls['name'].hasError('required')">Esse campo é obrigatorio</span>
              <span *ngIf="steps[0].controls['name'].hasError('minlength')">Esse campo tem ter mais de 5 caracteres</span>
              <span *ngIf="steps[0].controls['name'].hasError('maxlength')">Esse campo tem ter mens de 100 caracteres</span>
          </md-hint>
          <md-hint align="end">{{name.value.length}} / 100</md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile class="input-space" [colspan]="2">
        <md-icon>wc</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-radio-group formControlName="gender">
            1.2 - Selecione o gênero<br>
            <md-radio-button *ngFor="let gender of genders" class="radio-before"
                              [value]="gender.id">{{gender.value}}</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="!steps[0].controls['gender'].valid  && (steps[0].controls['gender'].touched || triedSend)">
            <span *ngIf="steps[0].controls['gender'].hasError('required')">Esse campo é obrigatorio</span>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>date_range</md-icon>
        <md-input-container style="width:100%">
          <input md-input #birth class="full-width"
           [textMask]="{mask: mask.date, pipe: autoCorrectedDatePipe}"
           placeholder="1.3 - Data de nascimento *" formControlName="birth_date" (blur)="'OI'">
          <md-hint class="valid-msg" align="start"
              *ngIf="!steps[0].controls['birth_date'].valid  && (steps[0].controls['birth_date'].touched || triedSend)">
              <span *ngIf="steps[0].controls['birth_date'].hasError('required')">Esse campo é obrigatorio</span>
              <span *ngIf="steps[0].controls['birth_date'].hasError('validateDate')">Formato de data incorreta.</span>
          </md-hint>
          <md-hint align="end">{{getNumber(birth.value).length}} / 8</md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2" class="input-space">
        <md-icon>fingerprint</md-icon>
        <md-input-container class="full-width">
          <input md-input formControlName="rg_number" placeholder="1.4 - Informe o RG *">
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2">
        <md-icon>school</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          1.5 - Estudou/estuda em que tipo de escola?<br>
          <md-radio-group formControlName="distance_education">
            <md-radio-button *ngFor="let education of distance_education" class="radio-before" [value]="education.id">{{education.value}}</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="!steps[0].controls['distance_education'].valid  && (steps[0].controls['distance_education'].touched || triedSend)">
            <span *ngIf="steps[0].controls['distance_education'].hasError('required')">Esse campo é obrigatorio</span>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile [colspan]="2" class="input-space">
        <md-icon>face</md-icon>
        <md-input-container class="full-width fakeHint">
          <input style="display:none" md-input>
          <md-select class="full-width" formControlName="ethnicity_id" placeholder="1.6 - Cor / Etnia">
            <md-option *ngFor="let ethnicity of ethnicities" [value]="ethnicity.id">{{ethnicity.value}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
              *ngIf="!steps[0].controls['ethnicity_id'].valid  && (steps[0].controls['ethnicity_id'].touched || triedSend)">
              <span *ngIf="steps[0].controls['ethnicity_id'].hasError('required')">Esse campo é obrigatorio</span>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

      <md-grid-tile class="disability-cell" [colspan]="3">
        <md-icon>accessible</md-icon>
        <md-input-container align="left" class="fakeHint disability">
          <input style="display:none" md-input>
          <md-radio-group required formControlName="disability" [value]="disabilityFlag"
           (change)="disabilityFlag = $event.value;">
            1.7 - Possui alguma deficiência (PcD)?<br>
            <md-radio-button class="radio-before" [value]="1">Sim</md-radio-button>
            <md-radio-button class="radio-before" [value]="0">Não</md-radio-button>
          </md-radio-group>
          <md-hint class="valid-msg" align="start"
            *ngIf="!steps[0].controls['disability'].valid && triedSend">
            <span *ngIf="steps[0].controls['disability'].hasError('required')">Esse campo é obrigatorio</span>
          </md-hint>
        </md-input-container>

        <md-input-container align="left" *ngIf="disabilityFlag" class="fakeHint disability disabilitySelect">
          <input style="display:none" md-input>
          <md-select [required]="disabilityFlag" class="full-width" formControlName="disability_id" placeholder="1.8 - Qual deficiência?">
            <md-option *ngFor="let disability of disabilities" [value]="disability.id">{{disability.value}}</md-option>
          </md-select>
          <md-hint class="valid-msg" align="start"
            *ngIf="!steps[0].controls['disability_id'].valid && triedSend">
            <span *ngIf="steps[0].controls['disability_id'].hasError('required')">Esse campo é obrigatorio</span>
          </md-hint>
        </md-input-container>
      </md-grid-tile>

    </md-grid-list>
  </md-tab>

  <md-tab label="TURMA">

  </md-tab>
  <md-tab label="CONTATO">

  </md-tab>
  <md-tab label="SITUAÇÃO PROFISSIONAL">
  </md-tab>
</md-tab-group>

<md-toolbar class="formActions" color="transparent">
    <button md-raised-button type="submit"
            [disabled]="!canSave" [class.md-button--disabled]="!form.valid"
            [class.md-button--valid]="form.valid">Salvar <md-icon>send</md-icon>
    </button>
    <button md-raised-button class="md-button--cancel" routerLink="../" type="button">Cancelar <md-icon>close</md-icon>
    </button>
    <button md-raised-button type="reset">Limpar <md-icon>restore</md-icon>
    </button>
</md-toolbar>
</form>
