form, md-card{
  font-size: 14px;
  color: gray;
}

.button-disabled{
  background-color: darkgray;
}

.full-width {
  width: 100%;
}

.input-space md-icon{
  padding-left:10px;
}

md-input-container,
.flagInput,
.selectGroup {
  padding-left: 10px;
}

.radio-before {
  padding-right: 15px;
  padding-top: 10px;
}

.formActions button{
  margin-right: 5px;
}

.disabilitySelect{
  padding-left: 20px;
}

.hidden{
  visibility: hidden;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.flagInput>span{
  margin: 5px 5px 0 0;
  float: left;
}
.flagInput md-slide-toggle{
  display: inline;
}
md-grid-list{
  margin: 5px 15px
}

md-toolbar{
  border-bottom: none;
  background: transparent;
}
md-toolbar.formActions{
  border-top:#f7f7f7 1px solid;
}
h4{
  color: rgba(0,0,0,0.87);
}
