@import '~@angular/material/core/theming/all-theme';
@include mat-core();

$primary:  mat-palette($mat-green, 400);
$accent:  mat-palette($mat-cyan, 600);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.md-tab-body-content{
  padding: 10px 25px;
}
table.dataTable {
  border-collapse: collapse;
  padding: 5px;
  font-size: 12px;
}
.dataTable th {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  color: #05436d;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.dataTable td {
  border-bottom: 1px solid #dfdfdf;
  color: black;
  height: 30px;
  line-height: 30px;
}
<<<<<<< HEAD
div.mat-autocomplete-panel,
div.mat-select-panel{
  max-width: 600px; 
}
=======
.selectGroup{
  font-size: 0.8em;
  position: relative;
}
.selectGroup p{
  bottom: -1.2em;
  position: absolute;
}
div.mat-autocomplete-panel{
  max-width: 600px;
}
>>>>>>> 0dc5114ae6d462392e766bdc9db082ee629030d6
