/* You can add global styles to this file, and also import other style files */
@import 'md.scss';
html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
.app-content{
  padding: 20px;
}
md-card.menu-card .md-card-header-text{
  margin-left: 0;
  color: white;
}
md-toolbar{
  background: #f9f9f9;
  border-bottom : 1px solid #ddd;
}
md-toolbar h2{
  font-size: 14px;
  color: #999;
}
md-sidenav{
  background: #4caf50;
}

label.md-input-placeholder,
label.md-radio-label
 {
    font-weight: normal;
}

.md-label{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  background-color: #1b5e20;
  color: #f9f9f9;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.md-label-white{
  background-color: #fff;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.valid-msg{
  color: #f6847c;
}

/* gambis - for use mdHint in select */
.selectHint div.md-input-underline{
  display: none;
}

/* buttons actions of form */
button.md-button--disabled{
  background: #dedede;
  box-shadow: none;
}
button.md-button--valid{
  background: #48a8f4;
}
button.md-button--cancel{
  background: #f6847c;
}
button.md-button--valid,
button.md-button--cancel{
  color:white;
  .material-icons{
    color:white;
  }
}
