/* You can add global styles to this file, and also import other style files */
@import 'md.scss';
@import 'reset.scss';
@import 'pagination.scss';
html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.app-content{
  padding: 20px;
}
md-card.menu-card .md-card-header-text{
  margin-left: 0;
  color: white;
}
md-toolbar{
  background: #f5f5f5;
  border-bottom : 1px solid #ddd;
}
md-toolbar h1{
  font-size: 13px;
  color: #666;
}
md-toolbar .date{
  font-size: 13px;
  color: #999;
}
md-sidenav{
  background: #4caf50;
}

label.md-input-placeholder,
label.md-radio-label
 {
    font-weight: normal;
}

.warn{
  color: #f6847c;
}

/* gambis - for use mdHint in select */
.fakeHint div.md-input-underline{
  display: none;
}

/*form*/
.md-tab-label .material-icons{
  font-size: 16px;
}

/*form inputs*/
md-grid-tile.disability-cell figure,
md-grid-tile.flag figure{
  justify-content: flex-start;
}

/* buttons actions of form */
button.md-button--disabled{
  background: #dedede;
  box-shadow: none;
}
button.md-button--valid{
  background: #48a8f4;
}
button.md-button--valid,
button.md-button--cancel{
  color:white;
  .material-icons{
    color:white;
  }
}
.toolbar-bottom{
  border-top: 1px solid #ddd;
  line-height: 10px;
}
.title-form{
  color: #1b5e20;
  font-size: 14px;
  font-weight: bold;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
