
.example-full-width {
  width: 98%;
  margin-right: 5px;
  font-size: 15px;
}

.cpf {
  margin: auto;
}

.example-section {
  width: 100%;
  color: gray;
  margin-left: 20px;
  font-size: 15px;
  
}

.md-tab {
  padding: 10px;
}

.material-icons {
  color: black;
  padding-right: 10px;
}

.radio-before {
  padding-left: 35px;
}

.radio-after {
  padding-left: 15px;
}