<md-tab-group>
  <md-tab label="ALUNO">
    <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile [colspan]="2"><i class="material-icons">credit_card</i>
        <md-input-container class="example-full-width">
          <input md-input placeholder="Informe o CPF">
        </md-input-container>
      </md-grid-tile>
      <md-grid-tile [colspan]="2"><i class="material-icons">credit_card</i>
        <md-input-container class="example-full-width">
          <input md-input placeholder="Informe o RG">
        </md-input-container>
      </md-grid-tile>
      <md-grid-tile [colspan]="2"><i class="material-icons">account_box</i>
          <md-input-container class="example-full-width">
            <input md-input placeholder="Nome do aluno">


          </md-input-container>
        </md-grid-tile>
      <md-grid-tile [colspan]="2">
      <i class="material-icons">date_range</i>  
      <data class="example-full-width"></data>
    
        </md-grid-tile>
        <md-grid-tile [colspan]="1"><i class="material-icons">face</i>
          <md-select class="example-full-width" placeholder="Cor / Etnia">
            <md-option *ngFor="let colour of colours">{{colour}}</md-option>
          </md-select>
        </md-grid-tile>
      <md-grid-tile [colspan]="1">
        <md-radio-group class="example-section-genero"><i class="material-icons">wc</i>
          Selecione seu gênero<br>
  <md-radio-button value="1">Masculino</md-radio-button><br>
  <md-radio-button value="2">Feminino</md-radio-button>
</md-radio-group>

      </md-grid-tile>
        
        <md-grid-tile [colspan]="2">
          <md-radio-group class="example-section"><i class="material-icons">school</i>
          Estudou/estuda em que tipo de escola? <br>
  <md-radio-button value="1">Escola Particular</md-radio-button><br>
  <md-radio-button value="2">Escola Pública</md-radio-button>
</md-radio-group>
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
          <md-radio-group class="example-section"><i class="material-icons">wc</i>
          Selecione seu gênero<br>
  <md-radio-button value="1">Masculino</md-radio-button><br>
  <md-radio-button value="2">Feminino</md-radio-button>
</md-radio-group>
        </md-grid-tile>
    </md-grid-list>
  </md-tab>
  <md-tab label="TURMA">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="CONTATO">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="SITUAÇÃO PROFISSIONAL">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="AVALIAÇÃO DO SENAI">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
