.container{
  text-align: center;
}
.containerContent{
  display: inline-table;
}
md-progress-circle,
small{
  display: table-cell;
  vertical-align: middle;
}
md-progress-circle{
  height: 25px;
  width: 25px;
}
small{
  padding-left: 10px;
  color:#8c8c8c;
  font-weight: bolder;
}
button{
  margin: 0 auto;
}
